<div ng-controller="userManagementController">
    <h2>User Management</h2>
    <form ng-if="users">
        <table>
            <tr>
                <th>User</th>
                <th>Roles</th>
                <td><button class="small">Update</button></td>
            </tr>
            <tr ng-repeat="user in users">
                <td>{{user.email}}</td>
                <td>
                    <label for="user{{user.id}}-roles">Roles</label>
                    <select multiple id="user{{user.id}}-roles" name="user{{user.id}}-roles" ng-model="user.selectedRoles" ng-options="key as value for (key, value) in roles">
                    </select>
                </td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td><button class="small">Update</button></td>
            </tr>
        </table>
    </form>
</div>