<div ng-controller="userManagementController">
    <h2>User Management</h2>
    <form ng-if="users">
        <table>
            <tr>
                <th>User</th>
                <th>Roles</th>
            </tr>
            <tr ng-repeat="user in users">
                <td>{{user.email}}</td>
                <td>
                    <label for="user{{user.id}}-roles">Roles</label>
                    <!-- Problem with comprehension. Can't see the 'roles' object in dev tools in order to play with it. -->
                    <select multiple id="user{{user.id}}-roles" name="user{{user.id}}-roles" ng-model="selectedRoles" ng-options="value for (key, value) in roles">
                    </select>
                </td>
            </tr>
        </table>
    </form>
</div>