<div ng-controller="userManagementController">
    <h2>User Management</h2>
    <table>
        <tr>
            <th>User</th>
            <th>Roles</th>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{ user.email }}</td>
                <td>
                    <form action="{{ url_for('admin') }}" method="post" accept-charset="utf-8">
                        {% set form = forms[user.id] %}
                        {{ form.hidden_tag() }}

                        {{ form.roles.label }}
                        {{ form.roles }}

                        {{ form.user }}

                        {{ form.submit }}
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
    <a href="{{ url_for('index') }}">Home</a>
</div>