{% extends 'base.html' %}

{% block content %}
    <h1>Home</h1>
    {% if current_user.is_authenticated() %}
        <h3>Welcome, {{ current_user.email }}</h3>
    {% endif %}
    <ul>
        {% if current_user.is_authenticated() %}
            <li><a href="{{ url_for('profile') }}">Profile</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
        {% else %}
            <li><a href="{{ url_for('signup') }}">Sign up</a></li>
            <li><a href="{{ url_for('login') }}">Login</a></li>
        {% endif %}
    </ul>
{% endblock %}