{% extends 'base.html' %}

{% block content %}
    <h1>Home</h1>
    {% if 'email' in session %}
        <h3>Welcome, {{ session['email'] }}</h3>
    {% endif %}
    <ul>
        {% if 'email' in session %}
            <li><a href="{{ url_for('profile') }}">Profile</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
        {% else %}
            <li><a href="{{ url_for('signup') }}">Sign up</a></li>
            <li><a href="{{ url_for('login') }}">Login</a></li>
        {% endif %}
    </ul>
{% endblock %}