<!doctype html>
<html lang="en" ng-app="dccAdmin">
<head>
    <meta charset="UTF-8">
    <title>Delicious Admin</title>
    <link rel="stylesheet" href="/static/stylesheets/app.css">
    <script src="/static/javascripts/vendor/custom.modernizr.js"></script>
</head>
<body>
  <div class="fixed">
    <nav class="top-bar" data-options="is_hover:false">
      <ul class="title-area">
        <li class="name">
          <h1><a href="/">Delicious Candy Admin</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
      </ul>
      <section class="top-bar-section">
        <ul class="right">
          <li><a href="#">Nodes</a></li>
          <li><a href="/users">Users</a></li>
          <li><a href="#">Login</a></li>
        </ul>
      </section>
    </nav>
  </div>
  <div class="row">
    <div class="small-12 columns" id="main-content">
      <!-- Angular view -->
      <div ng-view></div>
    </div>
  </div>
  <script>
    document.write('<script src=/static/javascripts/vendor/' +
    ('__proto__' in {} ? 'zepto' : 'jquery') +
    '.js><\/script>');
    </script>
    <script src="/static/javascripts/foundation/foundation.js"></script>
    <script src="/static/javascripts/foundation/foundation.alerts.js"></script>
    <script src="/static/javascripts/foundation/foundation.clearing.js"></script>
    <script src="/static/javascripts/foundation/foundation.cookie.js"></script>
    <script src="/static/javascripts/foundation/foundation.dropdown.js"></script>
    <script src="/static/javascripts/foundation/foundation.forms.js"></script>
    <script src="/static/javascripts/foundation/foundation.joyride.js"></script>
    <script src="/static/javascripts/foundation/foundation.magellan.js"></script>
    <script src="/static/javascripts/foundation/foundation.orbit.js"></script>
    <script src="/static/javascripts/foundation/foundation.placeholder.js"></script>
    <script src="/static/javascripts/foundation/foundation.reveal.js"></script>
    <script src="/static/javascripts/foundation/foundation.section.js"></script>
    <script src="/static/javascripts/foundation/foundation.tooltips.js"></script>
    <script src="/static/javascripts/foundation/foundation.topbar.js"></script>
    <script src="/static/javascripts/foundation/foundation.interchange.js"></script>
    <script>
      $(document).foundation();
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-resource.min.js"></script>
    <script src="/static/javascripts/app.js"></script>
    <script src="/static/javascripts/controllers.js"></script>
    <script src="/static/javascripts/directives.js"></script>
    <script src="/static/javascripts/filters.js"></script>
    <script src="/static/javascripts/services.js"></script>
</body>
</html>
